<div class="content pebble-settings" data-content>
  <div class="header">
    <h1>Journeys</h1>
  </div>
</div>

<script src="/js/lib/requirejs/require.js" data-main="/js/pebble-settings/main"></script>
