body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.pebble-settings .header {
  background: #00AAFF;
  color: #FFF;
  padding: 0.5em 1em;
  margin: 0 0 1em;
  position: relative;
  display: flex;
  flex-direction: row; }
  .pebble-settings .header-button-area {
    flex: none; }
  .pebble-settings .header-button {
    font-size: 1em;
    position: relative;
    margin: 0.25em 0;
    padding: 0.5em;
    background: #FFF;
    border: none;
    color: #00AAFF;
    cursor: pointer;
    line-height: 1; }
    .pebble-settings .header-button:focus {
      outline: none; }
    .pebble-settings .header-button-back {
      left: 0.5em;
      padding-left: 0.25em; }
      .pebble-settings .header-button-back:before {
        content: "";
        position: absolute;
        left: -0.75em;
        top: 0;
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: 0.75em solid #FFF; }
  .pebble-settings .header h1 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    flex: 1; }
.pebble-settings .wrap {
  margin: 1em; }
.pebble-settings input {
  display: block;
  padding: 0.5em;
  background: #FFF;
  color: #00AAFF;
  border: 1px solid #00AAFF;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em; }
  .pebble-settings input:hover, .pebble-settings input:focus {
    border-color: #00AAFF;
    outline: none; }
.pebble-settings .btn {
  display: block;
  padding: 0.5em;
  background: #00AAFF;
  color: #FFF;
  border: 1px solid #00AAFF;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
  color: #FFF;
  margin: 0.5em 0 0;
  border-width: 3px;
  border-style: double; }
  .pebble-settings .btn:hover {
    color: #00AAFF;
    background: #FFF; }
  .pebble-settings .btn:focus {
    outline: none; }
.pebble-settings .journeys-list {
  list-style: none;
  margin: 1em 0 0;
  padding: 0; }
  .pebble-settings .journeys-list-item {
    position: relative;
    display: block;
    padding: 0.5em;
    background: #FFF;
    color: #00AAFF;
    border: 1px solid #00AAFF;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0;
    border-bottom: none; }
    .pebble-settings .journeys-list-item-text {
      display: block;
      padding: 0.5em;
      white-space: nowrap;
      padding-right: 77px;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer; }
      .pebble-settings .journeys-list-item-text:hover {
        background-color: #00AAFF;
        color: #FFF; }
    .pebble-settings .journeys-list-item-remove {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1em;
      padding: 0.5em;
      color: #00AAFF;
      background: #FFF;
      border-left: 1px solid #00AAFF;
      cursor: pointer; }
      .pebble-settings .journeys-list-item-remove:hover {
        background-color: #00AAFF;
        color: #FFF; }
.pebble-settings .journeys-add {
  display: block;
  padding: 0.5em;
  background: #FFF;
  color: #00AAFF;
  border: 1px solid #00AAFF;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
  text-align: left;
  margin-top: none; }
  .pebble-settings .journeys-add:hover {
    color: #FFF;
    background: #00AAFF; }
  .pebble-settings .journeys-add-plus {
    display: inline-block;
    position: relative;
    font-size: 1.4em;
    line-height: 0.5;
    margin-right: 0.1em; }
.pebble-settings .journey-part-input {
  margin: 0.5em 0 0; }
.pebble-settings .journey .journey-save {
  display: none; }
.pebble-settings .journey.can-save .journey-save {
  display: inline-block; }
.pebble-settings .station-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0; }
  .pebble-settings .station-list-item {
    display: block;
    padding: 0.5em;
    background: #FFF;
    color: #00AAFF;
    border: 1px solid #00AAFF;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    cursor: pointer;
    border-top: none; }
    .pebble-settings .station-list-item:hover {
      color: #FFF;
      background: #00AAFF; }
