$color-main: #00AAFF;
$color-contrast: #FFF;

@mixin boxy($color, $bg, $border, $hover: none) {
  display: block;
  padding: 0.5em;
  background: $bg;
  color: $color;
  border: 1px solid $border;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;

  @if $hover == 'none' {
  } @else {
    cursor: pointer;

    &:hover {
      color: $bg;
      background: $color;
    }
  }
}

@mixin linear-gradient($from, $to) {
  background-color: $to;
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pebble-settings {

  .header {
    background: $color-main;
    color: $color-contrast;
    padding: 0.5em 1em;
    margin: 0 0 1em;
    position: relative;
    display: flex;
    flex-direction: row;

    &-button-area {
      flex: none;
    }

    &-button {
      font-size: 1em;
      position: relative;
      margin: 0.25em 0;
      padding: 0.5em;
      background: $color-contrast;
      border: none;
      color: $color-main;
      cursor: pointer;
      line-height: 1;

      &:focus {
        outline: none;
      }

      &-back {
        left: 0.5em;
        padding-left: 0.25em;

        &:before {
          content: "";
          position: absolute;
          left: -0.75em;
          top: 0;
          border-top: 1em solid transparent;
          border-bottom: 1em solid transparent;
          border-right: 0.75em solid $color-contrast;
        }
      }

    }

    h1 {
      font-size: 1.25em;
      font-weight: normal;
      margin: 0;
      padding: 0.5em 0;
      text-align: center;
      flex: 1;
    }
  }

  .wrap {
    margin: 1em;
  }

  input {
    @include boxy($color-main, $color-contrast, $color-main);

    &:hover,
    &:focus {
      border-color: $color-main;
      outline: none;
    }
  }

  .btn {
    @include boxy($color-contrast, $color-main, $color-main, true);
    color: $color-contrast;
    margin: 0.5em 0 0;
    border-width: 3px;
    border-style: double;

    &:focus {
      outline: none;
    }
  }

  .journeys {
    &-list {
      list-style: none;
      margin: 1em 0 0;
      padding: 0;

      &-item {
        position: relative;
        @include boxy($color-main, $color-contrast, $color-main);
        padding: 0;
        border-bottom: none;

        &-text {
          display: block;
          padding: 0.5em;
          white-space: nowrap;
          padding-right: 77px;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;

          &:hover {
            background-color: $color-main;
            color: $color-contrast;
          }
        }

        &-remove {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1em;
          padding: 0.5em;
          color: $color-main;
          background: $color-contrast;
          border-left: 1px solid $color-main;
          cursor: pointer;

          &:hover {
            background-color: $color-main;
            color: $color-contrast;
          }
        }
      }
    }

    &-add {
      @include boxy($color-main, $color-contrast, $color-main, true);
      text-align: left;
      margin-top: none;

      &-plus {
        display: inline-block;
        position: relative;
        font-size: 1.4em;
        line-height: 0.5;
        margin-right: 0.1em;
      }
    }
  }

  .journey {
    &-part {
      &-input {
        margin: 0.5em 0 0;
      }
    }
    .journey-save {
      display: none;
    }
    &.can-save {
      .journey-save {
        display: inline-block;
      }
    }
  }

  .station-list {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;

    &-item {
      @include boxy($color-main, $color-contrast, $color-main, true);
      border-top: none;
    }
  }
}
