<div class="header">
  <h1>Journeys</h1>
</div>
<div class="journeys wrap">
  <ul class="journeys-list">
  {{#journeys}}
    <li class="journeys-list-item">
      <span class="journeys-list-item-text" data-journeys-action="edit" data-index="{{index}}">{{from.text}} to {{to.text}}</span>
      <span class="journeys-list-item-remove" data-journeys-action="delete" data-index="{{index}}">Remove</span>
    </li>
  {{/journeys}}
  </ul>
  <button class="journeys-add" data-journeys-action="add"><span class="journeys-add-plus">&plus;</span> Add Journey</button>
  <button class="btn" data-journeys-action="save">Save</button>
</div>
